*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Orbitron" , sans-serif;
}
.container{
    width: 1440px;
    margin: 0 auto;
}
.row{
    display: flex;
}
.col-6{
    width: 50%;
    padding: 0 15px;
}
.col-4{
    width: 33.3%;
    padding: 0 15px;
}
.col-3{
    width: 25%;
    padding: 0 15px;
}
header{
    position: absolute;
    width: 1320px;
    height: 62px;
    left: 60px;
    top: 20px;

}
.header-block{
    display: flex;
    justify-content: space-between;

    align-items: center;
}
.header-logo{
    display: flex;
    align-items: center;
}

.header-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    margin-right: 60px;

}
.header-link-1{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FAC422;
    text-transform: capitalize;
    text-decoration: none;
    margin-right: 60px;
    padding-left: 231px;
}
.header-widget{
    margin-left: 260px;
}
.header-img{
    padding-left: 590px;
}
.header-btn{
    border: 1px solid #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    color: white;
    cursor: pointer;
    transition: 0.6s;
    margin-left: 36px;
    background: #57B8FF;
    border-radius: 0;
    padding: 10px 12px;
    margin-right: 60px;
}
.header-btn:hover{
    background-color: #fff;
    color: black ;
    transition: 0.6s;
}

.bcg{
    background: url("../images/hero/imm.png") top left/100% 100%  no-repeat ;
    height: 1069px;
}
.hero-twitch{
    font-weight: 400;
    font-size: 10px;
    line-height: 25px;
    color: black;
    transform: rotate(-90deg);
    width: 113px;
    height: 25px;
    position: absolute;
    left: calc(50% - 113px/2 - 643px);
    top: calc(50% - 25px/2 - 90px);
}
.hero-inst{
    font-weight: 400;
    font-size: 11px;
    line-height: 25px;
    color: #80858F;
    transform: rotate(-90deg);
    position: absolute;
    width: 105px;
    height: 25px;
    left: calc(50% - 105px/2 - 647px);
    top: calc(50% - 25px/2 + 37px);
}
.hero-fb{
    width: 81px;
    height: 25px;
    position: absolute;
    left: calc(50% - 81px/2 - 659px);
    top: calc(50% - 25px/2 + 167px);
    font-weight: 400;
    font-size: 11px;
    line-height: 25px;
    color: #80858F;
    transform: rotate(-90deg);
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.hero-title{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #57B8FF;
    margin-bottom: 24px;
    margin-top: 291px;
}
.hero-img{
    margin-top: 296px;
    margin-left: 45px;
}
.hero-text{
    font-weight: 400;
    font-size: 72px;
    line-height: 86px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.hero-text-1{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #999999;
    margin-top:45px ;
}
.hero-btn{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    color: #FFFFFF;
    background: #57B8FF;
    padding: 11px 28px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    transition: 0.6s;
    border-radius: 0;
    margin-top: 74px;
}
.hero-btn:hover{
    background-color: #fff;
    color: black ;
    transition: 0.6s;
}
.hero-a{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 40px;

}

.sponsors-content{
    background:
            #FDD04A;
}
.sponsors-title{
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    text-transform: capitalize;
    color: #222730;
    padding-top: 120px;
}
.sponsors-img-1{
padding-left: 617px;
}
.sponsors-text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #555555;
    padding-top: 44px;
    padding-bottom: 41px;
}
.sponsors-img{
    margin-left: 60px;
    padding-bottom: 130px;
}

.future{
    background: url("../images/future/IMAGE (4).png") top left/100% 100% no-repeat;
}

.future-title{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #57B8FF;
    padding-top: 136px;
}
.future-title-1{
    font-weight: 400;
    font-size: 64px;
    line-height: 74px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    padding-top: 12px;
}
.future-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: rgba(223, 223, 223, 0.8);
    padding-top: 39px;
    padding-bottom: 61px;
}
.future-title-2{
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.future-text-1{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: rgba(223, 223, 223, 0.8);

}
.future-img{
    background: #57B8FF;
    transform: rotate(45deg);
}
.future-block-1{
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    padding: 50px;
    margin-bottom: 32px;
}
.future-block-2{
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    padding: 50px;
    margin-bottom: 32px;
}
.future-block-3{
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    padding: 50px;
    margin-bottom: 130px;
}
.future-block-4{
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    padding: 50px;
}
.era-btn{
    padding: 11px 28px;
    border: 1px solid #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    color: white;
    cursor: pointer;
    transition: 0.6s;
    background: #57B8FF;
    border-radius: 0;
}
.era-btn:hover{
    background-color: #fff;
    color: black ;
    transition: 0.6s;
}
.era-title{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #57B8FF;
    padding-top: 174px;
    padding-bottom: 22px;
    margin-right: 480px;
}
.era{
    background: black;
    padding-left: 60px;
}
.era-title-1{
    font-weight: 400;
    font-size: 64px;
    line-height: 74px;
    text-transform: capitalize;
    color: #FFFFFF;
    padding-bottom: 38px;
}
.era-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: rgba(223, 223, 223, 0.8);
    padding-bottom: 54px;
}
.era-img-1{
    padding-left: 107px;
    padding-top:130px;
    position: relative;
}
.era-img{
    margin-top: 130px;
    margin-bottom: 130px;
}
.era-play{
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(150%, 60%);
}
.era-play:hover{
    transition: 0.6s;
}
.customize{
    background: #2A313C;
    border-radius: 0;
}
.customize-title{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    padding-top: 89px;
    padding-right: 460px;
    text-transform: uppercase;
    color: #57B8FF;
    padding-bottom: 22px;
}
.customize-title-1{
    font-weight: 400;
    font-size: 64px;
    line-height: 74px;
    text-transform: capitalize;
    color: #FFFFFF;
    padding-bottom: 38px;
}
.customize-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: rgba(223, 223, 223, 0.8);
    margin-bottom: 65px;
}



.news{
    background: blue;
}
.news-title{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #57B8FF;
    padding-top: 136px;
    padding-bottom: 22px;
    padding-left: 100px;
}
.news-title-1{
    font-weight: 400;
    font-size: 64px;
    line-height: 74px;
    padding-left: 60px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.news-img{
    padding-left:60px ;
}
.news-btn{
    padding: 11px 28px;
    border: 1px solid #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    color: white;
    cursor: pointer;
    transition: 0.6s;
    background: #57B8FF;
    border-radius: 0;
    margin-left: 1239px;
    margin-bottom: 74px;
}
.news-btn:hover{
    background-color: #fff;
    color: black ;
    transition: 0.6s;
}

.news-title-3{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #57B8FF;
}
.news-title-4{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #57B8FF;
}
.news-title-5{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #57B8FF;
}
.news-title-6{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #57B8FF;
}
.news-title-7{
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #57B8FF;
    margin-left: 60px;
    margin-bottom: 28px;
    margin-top: 24px;
}
.news-text-1{
    font-weight: 400;
    font-size: 23px;
    line-height: 34px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.news-text-2{
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.news-text-3{
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.news-text-4{
    font-weight: 400;
    font-size: 23px;
    line-height: 34px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.news-text-5{
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 120px;
    margin-left: 60px;
}

.rights-1{
    height: 732px;
    width: 500px;
    left: 0;
    top: 0.390625px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 0;
    background: url("../images/rights/IMAGE (18).png") top left/100% 100% no-repeat;
}
.rights-2{
    height: 732px;
    align-items: center;
    width: 500px;
    left: 0;
    justify-content: center;

    display: flex;
    top: 0.390625px;
    border-radius: 0;
background: url("../images/rights/IMAGE (19).png") top left/100% 100% no-repeat;
}
.rights-3{
    height: 732px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 500px;
    left: 0;
    top: 0.390625px;
    border-radius: 0;
background: url("../images/rights/IMAGE (20).png") top left/100% 100% no-repeat;
}
.rights-title-1{
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}
.join{
    background: url("../images/join/IMAGE (24).png") top left/100% 100%;
}
.join-title{
    padding-top: 126px;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    text-align: center;
    color: #141820;
    padding-bottom: 51px;
}
.join-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #555555;
    padding-bottom: 45px;
}
.join-email{
    width: 425px;
    height: 80px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #555555;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 0;
    margin-left: 420px;
}
.join-btn{
    width: 221px;
    height: 70px;
    padding: 11px 28px;
    border: 1px solid #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    color: white;
    cursor: pointer;
    transition: 0.6s;
    background: #57B8FF;
    border-radius: 0;
margin-bottom: 130px;
    margin-right: 10px;
}
.join-btn:hover{
    background-color: #fff;
    color: black ;
    transition: 0.6s;
}
.footer{
    background: #222730;
    border-radius: 0;
}
.footer-item{

}
.footer-text{
    font-weight: 400;
    font-size: 15px;
    line-height: 38px;
    text-transform: capitalize;
    color: #999999;
    list-style: none;
    padding-left: 60px;
}
.footer-title{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-transform: capitalize;
    color: #FFFFFF;
    padding-top: 130px;
    padding-bottom: 23px;
    padding-left: 60px;
}
.footer-img{
    margin-top: 130px;
    margin-bottom: 50px;
    padding-left: 60px;
}

.icon{
    height: 48px;
    width: 48px;
    border-radius: 0;
    background: #383D45;
    margin-right: 18px;
    padding-right: 18px;
}
.icons{
    display: flex;

}

.footer-hr{

    width: 1320px;
    height: 1px;
    padding-left: 60px;

    padding-top: 50px;
}
.footer-textt{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #898989;
    padding-top: 67px;
    padding-bottom: 60px;
}